resources:
- ../../base
patches:
- target:
    kind: Deployment
    name: nginx-app
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
#uses base replicas but chnages 1 -> 3 replicas
